#### Variables

Variables are containers that hold data

In [3]:
age = 28

# = is an assignment operator

In [6]:
print(age)

28

In [9]:
name = "Onyinye"

In [10]:
print(name)

onyinye

In [11]:
Age = 24

In [14]:
print(Age)

# Variable names are not case sensitive

24

In [13]:
print(age)

28

### Conventions for naming variables

- Variable name must start with a letter or an underscore (enforced)

- Variables using lowercase excepts if they are constant.

- Seperate variable names with more than one word with an underscore (snake casing)

- Variable names should be descriptive

In [17]:
first_name = "Hamad"
last_name =  "Abdul"

In [19]:
# Variable re-assignment

age = 30

In [20]:
print(age)

30

In [21]:
PI = 3.142

In [22]:
city = "Lagos"

### Data Types

Represent the different types of data/values that we can store in a variable

#### Number 

- Integer : whole numbers

- Float : Decimal numbers

In [23]:
score = 60 

# infer the type of the data

In [24]:
type(score)

int

In [30]:
height = 50.5

In [31]:
type(height)

float

The data type of the value you store in a variable would determine what you can do with it

#### String

Combination of characters

In [32]:
name = "Deborah"

In [33]:
type(name)

str

#### Boolean

truth value of a condition

In [36]:
is_raining = False

In [37]:
type(is_raining)

bool

#### Comments

- What the programmer writes to explain his code. 

**single line comment** 

**multi-line comment**

In [38]:
# the variable stores the value that tells us whether or not the weather is hot

is_weather_hot = False

In [41]:
'''
This is a multi
line comment
'''

print(9)

9

#### Python Operators

#### Arithmetic Operators

In [42]:
test_score = 20
exam_score = 40

In [43]:
# Arithmetic operators

test_score + exam_score

60

In [44]:
test_score - exam_score

-20

In [45]:
test_score * exam_score

800

In [46]:
exam_score / test_score

2.0

In [1]:
2 ** 3 

# exponential

8

In [49]:
# modulo operator

4 % 2

0

In [52]:
5 % 2

1

In [2]:
# floor division

5 // 2

2

In [4]:
10 // 3

3

In [10]:
duration = 500 

no_of_hr = duration // 60

no_of_min = duration % 60

print('No of hr : ', no_of_hr)
print('No of min : ', no_of_min)

No of hr :  8
No of min :  20

#### Comparison Operators

In [24]:
x = 4
y = 5

In [14]:
x == y

True

In [15]:
x != y

False

In [16]:
x < y

False

In [19]:
x > y

True

In [22]:
x <= y

True

In [26]:
x >= y

False

#### Logical Operators

In [27]:
x = 10
y = 5
z = 7

x < y and y < z

False

In [28]:
4 == 5 and 5 < 6

False

In [29]:
x < y or y < z

True

#### Membership Operator

In [1]:
scores = [10, 20, 30, 40, 50, 60]

result = 10 in scores

print(result)

True

In [2]:
result = 10 not in scores
print(result)

False

#### Type Casting

In [30]:
score = "70"

In [31]:
type(score)

str

In [32]:
score + 10

TypeError: can only concatenate str (not "int") to str

#### Data Types and their constructor

- Integer - int()
- String - str()
- float - float()
- Boolean - bool()

In [33]:
score = int(score)

In [35]:
type(score)

int

In [36]:
score + 10

80

In [37]:
name = "Deborah"

In [38]:
int(name)

ValueError: invalid literal for int() with base 10: 'Deborah'

In [71]:
# User Input

current_price = input("enter the current price: ") # create an input box and assign the value to current_price
current_price = float(current_price) # cast the current_price and re-assign the value 
discounted_price = current_price * 0.8 # 
print("The discounted price is",discounted_price)
print(f"The discounted price is {discounted_price}")
print('The discounted price is {}'.format(discounted_price))

enter the current price: 600
The discounted price is 480.0
The discounted price is 480.0
The discounted price is 480.0

#### Exercise

Using the input function, take the exam score and test score of a student and return the total score

In [50]:
exam_score = int(input('Enter your exam score : '))
test_score = int(input('Enter your test score : '))
total_score = exam_score + test_score
print(total_score)

Enter your exam score : 50
Enter your test score : 30
80

#### Strings

In [51]:
name = "Debby"

In [52]:
type(name)

str

#### String Indexing

In [53]:
name[0]

'D'

In [54]:
name[4]

'y'

In [55]:
name[-5]

'D'

In [56]:
name[-3]

'b'

#### String Slicing

In [57]:
text = "My name is Onyinye"

In [58]:
type(text)

str

In [61]:
text[11:18]

'Onyinye'

In [62]:
text[11:]

'Onyinye'

#### Exercise

Slice out 'name' from the text variable. Assign it to a new variable and print out the new variable

In [63]:
name = text[3:7]
print(name)

name

In [68]:
### String Formatting

test_score = 40
exam_score = 50

total_score = test_score + exam_score


# 1st Mtd
print("The total score is", total_score)

# 2nd Mtd
print(f"The total score is {total_score}")

# 3rd Mtd
print("The total score is {}".format(total_score))

The total score is 90
The total score is 90
The total score is 90

In [77]:
test_score = 40
exam_score = 50

print("your test score is",test_score, "and your exam score is",exam_score)

your test score is 40 and your exam score is 50

In [78]:
print(f'Your test score is {test_score} and your exam score is {exam_score}')

Your test score is 40 and your exam score is 50

In [80]:
print('Your test score is {} and your exam score is {}'.format(test_score, exam_score))

Your test score is 40 and your exam score is 50

#### String Methods

Methods are built-in functions that allow you to manipulate objects of a specific data type

In [81]:
name = "Deborah"

# name variable is an object of the string data type

In [87]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [133]:
name = 'DEBORAH'

In [134]:
print(name)

DEBORAH

In [136]:
name = name.lower() #re-assignment

In [102]:
print(name)

deborah

In [92]:
name = name.lstrip()

In [93]:
print(name)

DEBORAH

In [103]:
amount = "N 400"

In [105]:
amount = amount.replace("N ", "")

In [106]:
amount

'400'

In [107]:
int(amount)

400

In [111]:
gender_one = " MaLE"
gender_two = "maLLE"

# Method chaining
gender_one = gender_one.replace(" ", "").lower()
print(f'gender_one : {gender_one}')

gender_two = gender_two.replace("maLLE", "male")
print(f'gender two : {gender_two}')

gender_one : male
gender two : male

In [153]:
gender_one = " MaLE"

gender_one.replace(" ", "")

'MaLE'

In [115]:
## String Concatenation

## + operator is used for concatenation

first_name = "Fisayo"

last_name = "Olupitan"

full_name = first_name + " " + last_name

print(full_name)

Fisayo Olupitan

#### Sequence Data Types 

provide a way for us to store multiple values at the same time

- List

- Tuple 

- Set 

- Dictionary

In [142]:
# List 

names = ["Debby", 'Fisayo', 'Fidelis', 'Onyinye', 'Ada']

In [117]:
type(names)

list

In [118]:
scores = [60, 67, 60, 78, 50]

In [119]:
type(scores)

list

In [120]:
# Ordered 

names[0]

'Debby'

In [121]:
names[3]

'Onyinye'

In [122]:
names[-5]

'Debby'

In [123]:
# mutable - the values can change

dir(names)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [143]:
names.append('Funmi')

In [144]:
names

['Debby', 'Fisayo', 'Fidelis', 'Onyinye', 'Ada', 'Funmi']

In [145]:
names.remove("Debby")

In [146]:
names

['Fisayo', 'Fidelis', 'Onyinye', 'Ada', 'Funmi']

In [148]:
popped_name = names.pop()

In [149]:
names

['Fisayo', 'Fidelis', 'Onyinye']

In [150]:
popped_name

'Ada'

In [151]:
scores

[60, 67, 60, 78, 50]

In [154]:
scores.append(95)

scores.remove(60)

pop_item = scores.pop()

print(pop_item)
print(scores)

95
[67, 60, 78, 50, 90]

In [155]:
## List can have duplicates

#### Tuple

In [166]:
fruits = ("apple", "pineapple", "banana", "guava","apple")

In [167]:
type(fruits)

tuple

In [168]:
# it is ordered

fruits[0]

'apple'

In [169]:
fruits[-2]

'guava'

In [170]:
fruits[0:2]

('apple', 'pineapple')

In [171]:
fruits[:2]

('apple', 'pineapple')

In [172]:
# it is not mutable

dir(fruits)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [173]:
fruits.count('apple')

2

#### cast tuple to a list

- tuple : tuple()
- list : list()

In [174]:
fruits = list(fruits)

In [175]:
fruits

['apple', 'pineapple', 'banana', 'guava', 'apple']

#### Exercise 

Create 1 variables. The variable should be a list of numbers. Sort the numbers and print a new list

In [179]:
list_of_numbers = [3,5,12,13,8,10]

list_of_numbers.sort()

new_list = list_of_numbers

print(f'The new list is : {new_list}')

The new list is : [3, 5, 8, 10, 12, 13]

In [177]:
list_of_numbers.sort()

#### Sets

In [3]:
fruits = {'apple', 'banana', 'guava', 'apple'}

In [4]:
type(fruits)

set

In [6]:
print(fruits)

## Sets cannot take duplicates

{'guava', 'banana', 'apple'}

In [7]:
fruits[0]

## Sets are unordered

TypeError: 'set' object is not subscriptable

In [9]:
### Sets are mutable

dir(fruits)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [10]:
numbers = [2,3,4,5,6]

numbers[0] = 3

In [11]:
numbers

[3, 3, 4, 5, 6]

In [12]:
fruits

{'apple', 'banana', 'guava'}

In [13]:
fruits.pop()

'guava'

In [14]:
fruits

{'apple', 'banana'}

In [19]:
fruits.update({'pineapple'})

In [20]:
fruits

{'O', 'a', 'apple', 'banana', 'e', 'g', 'n', 'pineapple', 'r'}

#### Dictionary

In [21]:
student_scores = { 'Deborah': 60, 'Moses':70, 'Temi':57, 'Fisayo':90 }

In [22]:
type(student_scores)

dict

### Exercise

Create 2 variables, the first one should be a set (5 items of instrument found in a math set), while the second should be a dictionary of coutry and their capital city(5 items).

In [23]:
math_set = {'pencil', 'eraser', 'divider', 'compass', 'protractor'}

countries_capital = {
    'Nigeria':'Abuja',
    'Ghana': 'Accra',
    'Ivory Coast':'Abidjan',
    'Togo':'Lome',
    'Qatar': 'Doha'
}

In [24]:
student_scores

{'Deborah': 60, 'Moses': 70, 'Temi': 57, 'Fisayo': 90}

In [25]:
student_scores.keys()

dict_keys(['Deborah', 'Moses', 'Temi', 'Fisayo'])

In [26]:
# Dictionaries are mutable

student_scores['Fidelis'] = 80

In [27]:
student_scores

{'Deborah': 60, 'Moses': 70, 'Temi': 57, 'Fisayo': 90, 'Fidelis': 80}

In [28]:
student_scores['Moses'] = 45

In [29]:
student_scores

{'Deborah': 60, 'Moses': 45, 'Temi': 57, 'Fisayo': 90, 'Fidelis': 80}

In [32]:
student_scores['Fisayo']

90

In [33]:
dir(student_scores)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [34]:
student_scores.get('Fisayo')

90

In [35]:
student_scores.values()

dict_values([60, 45, 57, 90, 80])

#### Conditional Statements

In [40]:
age = 34

if (age < 18):
    print('You are still a child')
elif (age >= 18 and age <= 60):
    print('You are a youth')
else:
    print("You are an adult")

You are a youth

Write a program that checks a student score (should not be hardcoded) and prints the student grade.

In [42]:
student_score = int(input('enter your score: '))

if (student_score < 40):
    print('Your grade is F')
elif (student_score >= 40 and student_score <=60):
    print('Your grade is B')
else:
    print('Your grade is A')

enter your score: 78
Your grade is A

In [32]:
# score = 1
# match score:
#     case 1: 
#         print('1')

score = int(input('enter your score : '))

match score:
    case 70:
        print('Your passed')
    case 60:
        print('You did well')
    case 50:
        print('You did averagely well')
    case _:
        print('Not sure')

enter your score : 30
Not sure

#### Loops

- For loop

- While loop

In [6]:
# For loop

names = ['Debby', 'Fisayo', 'Onyi', 'Funmi']

# iterator : name
# iterable : names 
# iteration 

for iterator in names:
    print(iterator)

Debby
Fisayo
Onyi
Funmi

In [8]:
# While loop

names = ['Debby', 'Fisayo', 'Onyi', 'Funmi']

x = 0

while (x < len(names)):
    print(names[x])
    x += 1

Debby
Fisayo
Onyi
Funmi

In [14]:
import random

print('The computer is going to guess a number between 1 and 10')
computer_guess = random.randint(1,10)

i = 0
while (i < 5):
    user_guess = int(input('Enter a guess : ')) 
    print('Checking out your guess.....')

    if (computer_guess == user_guess):
      print('Your guess is correct')
      break
    elif (user_guess < computer_guess):
      print('Your guess is lower, try again')
    else:
      print('Your guess is higher, try again')
    i += 1

The computer is going to guess a number between 1 and 10
Enter a guess : 4
Checking out your guess.....
Your guess is lower, try again
Enter a guess : 6
Checking out your guess.....
Your guess is lower, try again
Enter a guess : 8
Checking out your guess.....
Your guess is correct
Enter a guess : 7
Checking out your guess.....
Your guess is lower, try again
Enter a guess : 5
Checking out your guess.....
Your guess is lower, try again

In [17]:
numbers = [2,3,4,5,6,7]

for i in numbers:
    if (i == 5):
        continue
    print(i)

2
3
4
6
7

#### Exercise

Write a program that allows a user to guess a word by giving the user the first letter and last letter. The word should have a min length of 5 characters. The user should be able to try for 5 times. 

Use random.choice()

list_words = ['', '']

comp_guess = random.choice(list_words)

In [29]:
import random

print('The computer is going to guess a word')
list_words = ['Table', 'Favor', 'Knife', 'Shoes', 'Tunde']
computer_guess = random.choice(list_words).lower()

print(f'The first letter of the word is {computer_guess[0]}')
print(f'The last letter of the word is {computer_guess[-1]}')

i = 0
while (i < 5):
    user_guess = input('Enter a guess : ').lower()
    print('Checking out your guess.....')

    if (computer_guess == user_guess):
      print('Congrats! Your guess is correct')
      break
    else:
        print('Try again')
    i += 1
else:
    print('Hope you enjoyed the game')

The computer is going to guess a word
The first letter of the word is t
The last letter of the word is e
Enter a guess : yrtyw
Checking out your guess.....
Try again
Enter a guess : yete
Checking out your guess.....
Try again
Enter a guess : yeye
Checking out your guess.....
Try again
Enter a guess : ettet
Checking out your guess.....
Try again
Enter a guess : ettete
Checking out your guess.....
Try again
Hope you enjoyed the game

In [34]:
# List Comprehension

# numbers = []

# for i in range(1,101):
#     numbers.append(i)
# print(numbers)

numbers  = [i for i in range(1,101)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [3]:
# Functions

numbers  = [3,4,5,6,7]

# Define the function - once
# calling the function - multiple times

# inputs to a function : parameters

def average(list_of_num):
    result = sum(list_of_num) / len(list_of_num)
    print(f'The average of {list_of_num} is {result}')

In [4]:
average([3,4,5,6,6,7])

The average of [3, 4, 5, 6, 6, 7] is 5.166666666666667

In [5]:
average([6,3,5,6,7,8,9])

The average of [6, 3, 5, 6, 7, 8, 9] is 6.285714285714286

In [6]:
import random

def guess_a_word():
    print('The computer is going to guess a word')
    list_words = ['Table', 'Favor', 'Knife', 'Shoes', 'Tunde']
    computer_guess = random.choice(list_words).lower()

    print(f'The first letter of the word is {computer_guess[0]}')
    print(f'The last letter of the word is {computer_guess[-1]}')

    i = 0
    while (i < 5):
        user_guess = input('Enter a guess : ').lower()
        print('Checking out your guess.....')

        if (computer_guess == user_guess):
          print('Congrats! Your guess is correct')
          break
        else:
            print('Try again')
        i += 1
    else:
        print('Hope you enjoyed the game')

In [7]:
guess_a_word()

The computer is going to guess a word
The first letter of the word is s
The last letter of the word is s
Enter a guess : Shoes
Checking out your guess.....
Congrats! Your guess is correct

In [8]:
guess_a_word()

The computer is going to guess a word
The first letter of the word is t
The last letter of the word is e
Enter a guess : table
Checking out your guess.....
Congrats! Your guess is correct

In [27]:
def multiply(x,y):
    return f'The multiplication of {x} and {y} is {x*y}'

In [28]:
multiply(3,5)

'The multiplication of 3 and 5 is 15'

In [29]:
multiply(4,8)

'The multiplication of 4 and 8 is 32'

In [30]:
def guess_a_word():
    print('The computer is going to guess a word')
    list_words = ['Table', 'Favor', 'Knife', 'Shoes', 'Tunde']
    computer_guess = random.choice(list_words).lower()

    print(f'The first letter of the word is {computer_guess[0]}')
    print(f'The last letter of the word is {computer_guess[-1]}')

    i = 0
    while (i < 5):
        user_guess = input('Enter a guess : ').lower()
        print('Checking out your guess.....')

        if (computer_guess == user_guess):
            return 'Congrats! Your guess is correct'
            break
        else:
            print('Try again')
        i += 1
    else:
        return 'You did not win this time but hope you enjoyed the game'

In [33]:
output = guess_a_word()

The computer is going to guess a word
The first letter of the word is t
The last letter of the word is e
Enter a guess : yrtte
Checking out your guess.....
Try again
Enter a guess : eteytr
Checking out your guess.....
Try again
Enter a guess : eyyryr
Checking out your guess.....
Try again
Enter a guess : eyeyye
Checking out your guess.....
Try again
Enter a guess : eytrte
Checking out your guess.....
Try again

In [34]:
print(output)

You did not win this time but hope you enjoyed the game

In [37]:
# default parameter
def multiply(x=1,y=1):
    return f'The multiplication of {x} and {y} is {x*y}'

In [42]:
multiply()

'The multiplication of 1 and 1 is 1'

In [44]:
#calling a function using the name of the argument

multiply(y=3,x=5)

'The multiplication of 5 and 3 is 15'

In [45]:
# calling a function using its position

multiply(2,4)

'The multiplication of 2 and 4 is 8'

In [46]:
## lambda functions

multiply_num = lambda x,y : x*y

In [47]:
multiply_num(4,5)

20

In [48]:
def is_even(num):
    result = num % 2 == 0
    if result:
        return f'{num} is even'
    else:
          return f'{num} is odd'

In [49]:
is_even(5)

'5 is odd'

In [53]:
is_even_num = lambda num : num % 2 == 0

In [55]:
is_even_num(7)

False